.home_page_wrap {
  position: relative;
  margin-bottom: 40px;
}

.home_hot_content {
  width: 1200px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.home_page_content {
  width: 1200px;
  margin: 40px auto 0;

  .card_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
}