.tool_content_layout {
  margin: 114px auto 40px;
  width: 1200px;

  .tool_detail_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .test_img {
    width: 200px;
    height: 200px;
    position: relative;
    box-shadow: 0 30px 20px -20px rgba(0, 0, 0, .15);
    background: #e6e8ed;
    border-radius: 10px;
  }

  .header_info {
    margin-left: 20px;
  }
}